*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-gray{
    color: #5b5858;
}

.bell{
    color: #ff8f00;
}

header{
    height: 60px;
    background-color: #F8F9FA;
}

.navbar{
    padding: 3px 0;
}

#logo{
    height: 40px;
}

form{
    flex-basis: 80%;
}

header .input-group-text{
    background-color: #E5E5E5;
    border-right: none;
}

header .form-control{
    background-color: #E5E5E5;
}

.sidebar{
    height: calc(100vh - 60px);
    width: 50px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #132940;
}

p{
    margin-bottom: 0;
}

main{
    width: calc(100% - 50px);
    height: calc(100% - 60px);
    position: absolute;
    right: 0;
    top: 60px;
    overflow: auto;
}

.bg-sky{
    background-color: #1B72E8;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.text-bg-primary{
    background-color: #165BBA !important;
}

.form-check{
    padding-left: 2.5rem;
}

.offcanvas{
    width: 100% !important;
}

.text-bg-process{
    background-color: #FFC107;
    color: white;
}

.fa-solid.fa-pencil,
.fa-solid.fa-trash{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10%;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

/* hover */
.side-hover:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

/* responsive */

@media screen and (min-width:992px){
    .sidebar{
        width: 120px;
    }

    main{
        width: calc(100% - 120px);
    }

    .offcanvas{
        width: 50% !important;
    }
}   